{% extends "base.html" %}
{% block body %}

        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(../static/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div><!-- /.page-header__bg -->
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title bw-split-in-right">About us</h2>
                    <ul class="gotur-breadcrumb list-unstyled">
                        <li><a href="index-2.html">Home</a></li>
                        <li><span>About us</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->


        <section class="about-one section-space " id="about">
            <div class="container">
                <div class="row gutter-y-40">
                    <div class="col-lg-6">
                        <div class="about-one__thumb wow fadeInLeft" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="about-one__thumb__item  ">
                                <img src="../static/assets/images/about/about-1-1.jpg" alt="gotur image">
                            </div><!-- /.about-one__thumb__item -->
                            <div class="about-one__thumb__item-small  ">
                                <img src="../static/assets/images/about/about-s-1-1.jpg" alt="gotur image">
                            </div><!-- /.about-one__thumb__item -->
                            <div class="about-one__thumb__item-popup">
                                <img src="../static/assets/images/shapes/about-1-3.png" alt="gotur image">
                            </div><!-- /.about-one__thumb__item -->
                        </div><!-- /.about-one__left -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="about-one__right">
                            <div class="sec-title  ">
                                <h6 class="sec-title__tagline bw-split-in-right">About gotur</h6><!-- /.sec-title__tagline -->
                                <h3 class="sec-title__title bw-split-in-left">Travel place for Your & your Family</h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <p class="about-one__top__text wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>It is a long established fact that a reader will be distracted the readable content of a page when looking at layout the point.</p><!-- /.about-one__top__text -->
                            <div class="about-one__feature">
                                <div class="row gutter-y-20">
                                    <div class="col-xl-6 col-lg-12 col-md-6 wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                                        <ul class="about-one__feature-list">
                                            <li><i class="icon-check-star"></i> Easy & Quick Booking</li>
                                            <!-- <li><i class="icon-check-star"></i> Best Price Guarantee</li> -->
                                        </ul><!-- /.about-one__feature-list -->
                                    </div><!-- /.col-xl-6 col-lg-12 col-md-6 -->
                                    <div class="col-xl-6 col-lg-12 col-md-6 wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='400ms'>
                                        
                                            
                                        </div><!-- /.about-one__feature-vestion -->
                                    </div><!-- /.col-xl-6 col-lg-12 col-md-6 -->
                                </div><!-- /.row -->
                            </div><!-- /.about-one__feature -->
                            <div class="about-one__button wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                               <a href="http://127.0.0.1:5000/popularity" class="gotur-btn gotur-btn--primary">
    Discover More <span class="icon"><i class="icon-right"></i></span>
</a>

                               
                            </div><!-- /.about-one__button -->
                        </div><!-- /.about-one__right -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="about-one__element-one">
                <img src="../static/assets/images/shapes/about-1-1.png" alt>
            </div><!-- /.about-one__element-one -->
            <div class="about-one__element-two">
                <img src="../static/assets/images/shapes/about-1-2.png" alt>
            </div><!-- /.about-one__element-one -->
        </section><!-- /.about-one -->
        
       <section class="how-to-work section-space">
    <div class="container">
        <div class="sec-title text-center">
            <h6 class="sec-title__tagline bw-split-in-right">How It Works</h6>
            <h3 class="sec-title__title bw-split-in-left">How It Works Step by Step</h3>
        </div>
        <div class="row gutter-y-40">
            <div class="col-lg-4 col-md-6">
                <div class="how-to-work__item wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                    <div class="how-to-work__icon">
                        <i class="icon-search"></i>
                        <span class="how-to-work__icon__count"></span>
                    </div>
                    <h4 class="how-to-work__title">Explore Destinations</h4>
                    <p class="how-to-work__text">Browse personalized suggestions based on popularity, your preferences, or destination features like weather and cost.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="how-to-work__item wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
                    <div class="how-to-work__icon">
                        <i class="icon-brain"></i>
                        <span class="how-to-work__icon__count"></span>
                    </div>
                    <h4 class="how-to-work__title">Get Smart Insights</h4>
                    <p class="how-to-work__text">View real-time images and AI-generated overviews with places to visit and stay, powered by Gemini AI and Google APIs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="how-to-work__item wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="700ms">
                    <div class="how-to-work__icon">
                        <i class="icon-location"></i>
                        <span class="how-to-work__icon__count"></span>
                    </div>
                    <h4 class="how-to-work__title">Plan and Go</h4>
                    <p class="how-to-work__text">Save your picks, book your favorites, and track visits—GoTour makes your next adventure seamless and memorable.</p>
                </div>
            </div>
        </div>
        <div class="how-to-work__shape">
            <img src="../static/assets/images/shapes/line-how-to.png" alt>
        </div>
    </div>
    <div class="how-to-work__element">
        <img src="../static/assets/images/resources/how-lagges.png" alt>
    </div>
</section>



       
        {% endblock body %}